@import "tailwindcss";

/* brand colors */
:root {
  --brand-red: #C8102E;
  --brand-gold: #FFD700;
  --brand-black: #111111;
}

html, body {
  min-height: 100%;
}

body {
  background-color: white;

  }

