@import "tailwindcss";

/* brand colors */
:root {
  --brand-red: #C8102E;
  --brand-gold: #FFD700;
  --brand-black: #111111;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #EFE6DB;

  background-image:
    radial-gradient(rgba(200,16,46,0.35) 2px, transparent 3px),
    radial-gradient(rgba(255,215,0,0.7) 2px, transparent 3px);

  background-size: 40px 40px, 40px 40px;

  background-position: 0 0, 20px 20px;

  animation: moveDots 2s linear infinite;
}

@keyframes moveDots {
  from {
    background-position: 0 0, 20px 20px;
  }

  to {
    background-position: 40px 40px, -20px -20px;
  }
}